.bg-white         { background-color: white; }

.bg-grey          { background-color: #F8F8FA; }
.bg-grey-lighter  { background-color: #FCFCFF; }
.bg-grey-darker   { background-color: #F0F0FE; }

.bg-dark          { background-color: #232a34; }
.bg-dark-lighter  { background-color: #343d4c; }
.bg-dark-darker   { background-color: #191E25; }

.bg-brand         { background-color: $brand; }
.bg-brand-lighter { background-color: $brand-lighter; }
.bg-brand-darker  { background-color: $brand-darker; }
.bg-brand-lightest  { background-color: $brand-lightest; }

.bg-transparent   { background-color: transparent; }
